<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
  <connectionStrings>
      <add name="Bjorn" connectionString="Server=dyrefors2;Database=MoneyMachine;Integrated Security=True;Connect Timeout=300;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <add key="MaxAntalKop" value="2" />
    <add key="KopSumma" value="20000" />
    <add key="Faktor" value="0,986" />
  </appSettings>
</configuration>
